---
name: groovy-tests

on: [push, pull_request]

jobs:
  tests:
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest          
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/checkout@v2
      - name: Run Tests
        run: |
          ./gradlew test --info
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v3.1.0
        with:
          files: ./build/reports/jacoco/test/jacocoTestReport.xml
