---
name: Increment Version
on:
  push:
    paths:
      - build.gradle
    branches: main
  workflow_dispatch:

jobs:
  version-increment:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    name: version-increment
    steps:
      - name: Check out OpenSearch repo
        uses: actions/checkout@v3
      - name: Run gradle task
        id: gradle
        run: |
          ./gradlew updateVersion
      - name: GitHub App token
        id: github_app_token
        uses: tibdex/github-app-token@v1.6.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
          installation_id: 22958780
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ steps.github_app_token.outputs.token }}
          base: '8.x'
          committer: opensearch-ci-bot <opensearch-infra@amazon.com>
          author: opensearch-ci-bot <opensearch-infra@amazon.com>
          commit-message: |
            Increment jenkins library version

            Signed-off-by: opensearch-ci-bot <opensearch-infra@amazon.com>
          delete-branch: true
          branch: create-pull-request
          title: '[AUTO] Increment jenkins library version'
          body: |
            - Increment jenkins library version.
      - name: Check outputs
        run: |-
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
